











/*  ---------------------------------------------------------------------------------------------
* ---------------------------------------------------------------------------------------------
* ---------------------------------------------------------------------------------------------
*  OVERRIDE
*  Override
*      
*  
* ---------------------------------------------------------------------------------------------
* ---------------------------------------------------------------------------------------------
* ---------------------------------------------------------------------------------------------  */

body {
	background-color: transparent;
	}
	
#headerWrapper {
	background-color: transparent;
	}
	


.suffix a { 


}

.suffix a:hover { 

}
	

/* navigation */ 

.navigation {
	
		background-color:transparent;
	
	
	
	
}

.navigation a {
	
		color: #ffffff;
	
		background-color:transparent;
	
	
	
	
	
}



.navigation a:hover {
	color: #33b5e5;
	}
	
.navigation a:hover {
	background-color: transparent;
	}
	
.navigation ul {
	background-color: #162c69;
	}
	
.navigation .current > a {
	color: #33b5e5;
	}
	
.navigation .current > a {
	background-color: transparent;
	}
	
.navigation .current > a:hover {
	color: #33b5e5;
	}
	
.navigation .current > a:hover {
	background-color: transparent;
	}
	
#hero p {
	color: #111111;
	}
	
.contents a {
	color: #004476;
	}
	
.contents a:hover {
	color: #004476;
	}
	


.contents.products p, .contents.products h2, .contents.products h3, .contents.products h4 { 
   
}


	 
/* headings */


h1{

	color: #004476;
	
	
	
}
	

h2 {

	color: #004476;



}


h3 {

}

h4 {

}




h3,h4,h5,h6 {
	color: #004476;
	}
	
fieldset {
	border-color: #ffffff;
	}
	
legend, label, form span {
	color: #111111;
	}
	
input[type="text"], input[type="password"], input[type="radio"], input[type="checkbox"], select, textarea {
	border-color: #ffffff;
	}
	
input[type="text"], input[type="password"], input[type="radio"], input[type="checkbox"], select, textarea {
	color: #111111;
	}
	
input[type="button"], input[type="submit"], input[type="reset"], .contents .button {
	border-color: #ffffff;
	}
	
input[type="button"], input[type="submit"], input[type="reset"], .contents .button {
	color: #ffffff;
	}
	
input[type="button"], input[type="submit"], input[type="reset"], .contents .button {
	background-color: #2b165d;
	}
	
input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, .contents .button:hover {
	color:  #ffffff;
	}
	
input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, .contents .button:hover {
	background-color: #004476;
	}
	
span.phone {
	color: #004476;
	}
	
span.email {
	color: #004476;
	}
	
.contentlist.gallery p.caption {
	background-color: transparent;
	}
	
#page {
	color: #111111;
	}
	
#page {
	background-color: transparent;
	}
	
	 
/* footer */ 

#footer {
	
}

#footerWrapper {
	background-color: #111111;
	}
	
#footerWrapper {
	color: #ffffff;
	}
	
#footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
	color: #ffffff;
	}
	
#yellFooter {
	color: #ffffff;
	}
	
#yellFooter a {
	color: #ffffff;
	}
	
.googleMap{
	border-color: #2b165d;
	} 
	
.directionsModuleExpand {
	background-color: #2b165d;
	}
	
.directionsModuleExpand {
	color: #ffffff;
	}
	
.directionsModuleExpand:hover {
	background-color: #004476;
	}
	
.directionsAddressList li:hover {
	background-color: #2b165d;
	}
	
.directionsAddressList li:hover {
	color: #ffffff;
	}
	

#hero p {
	 
}
	
#page p {
 
}
/*  
// -----------------------------
// Override Block Styling
// ----------------------------- 


// -----------------------------
//  Override Styling Elements
// ----------------------------- 
*/

body {
	background-image: url('F-and-S-Property-Management-26042012-Home-Site-Out-Of-Boundsf9c3.png?blobcol=urlbodybgurl&amp;blobheader=image%2Fpng&amp;blobheadername1=Content-Disposition&amp;blobheadervalue1=inline%3B+filename%3DF-and-S-Property-Management-26042012-Home-Site-Out-Of-Bounds.png&amp;blobkey=id&amp;blobtable=CSS_UXOverride&amp;blobwhere=1335246000157&amp;ssbinary=true&amp;moddate=2012-04-26%2000:37:19'); 
	}
	
body {
	background-repeat: repeat-x; 
	}
	
body {
	background-position: center top; 
	}
	
body.internal {

  
   	background-image: url('F-and-S-Property-Management-26042012-Internal-Site-Out-Of-Boundsaf9c.PNG?blobcol=urlinternalbodybgurl&amp;blobheader=image%2Fpng&amp;blobheadername1=Content-Disposition&amp;blobheadervalue1=inline%3B+filename%3DF-and-S-Property-Management-26042012-Internal-Site-Out-Of-Bounds.PNG&amp;blobkey=id&amp;blobtable=CSS_UXOverride&amp;blobwhere=1335246000157&amp;ssbinary=true&amp;moddate=2012-04-26%2000:37:19');
  
  
   	background-repeat: repeat-x;
  
  
   	background-position: center top;
  
  
}
/*Added New CSS*/

#contentTop {
	
	}

#contentBottom {


}

#hero .overlay div {


}

.overlay h2 {


}

.overlay p {


}

.overlay a {

}

.overlay a.callToAction {


}

body {

}
   
h1, h2, h3, h4, h5, h6 {

}
/*Modified to fix the #29 - starts Here-- Reviewed by reddym03*/
.navigation, .navigation a, .navigation li a, .navigation li ul li a {

}
/*Modified to fix the #29 - starts Here */
span.price {


}

body {

}

ul.opening {

	color: #111111;



}


/* columns */

.column { 

	
	
}

.column:first-child { 
	
}

.column:last-child { 
	
 }


	 
.internal .column { 
	 
}
	 
.contents {

	
	
 }

.home .contents {
 
 }

.contents.products { 

	
	
 }
	 
	 
p.intro {

}

span.price {


}

input[type="text"], input[type="password"], input[type="radio"], input[type="checkbox"], select, textarea { 
	
	background-color: #d7d7d7; 
	
}

cite, blockquote, #page .callToAction p {

}

.callToAction { 


} 





.feature {	




} 



.feature h1 {


} 


.feature h2 { 


} 


.feature .callToAction { 


} 

.feature p.intro { 


}


.feature a { 


}


.feature a:hover {


}


#page .callToAction p, #page .callToAction h2 { 

}

#page .callToAction strong {

	color: #004476;

	}
	
	
header .phone { 



}


#header .strap {


}





.home h1 {


	 
	 
	
	

}




h1 {

	
	 
	 
	
	
	
	
	
}




.home h2 {

	 
	 
	
	
}



h2 {
	
	 
	 
	
	
	
	
	
}



.home h3 {


	 
	 
	
	
}



h3 {
	
	 
	 
	
	
	
	
	
	
}



.home h4 {


	 
	 
	
	
}



h4 {
	
	 
	 
	
	
	
	
	
	
}
		


		
.home .contents {

	
	
	 
	
	
}



.contents {

	
		
	 
	
	

}



.home .contents.callToAction {
	
	
		
	
	
	

}



.contents.callToAction {

	
	
	
	
	
}



.link a { 














}




.link a:hover {






}




