













       
           









/* Download font section above */

/* ---------------------------------------------------------------------------------------------
*  Styling (Collection of style groups) 
*  UKPlus - Advise
*  UK Legacy Plus - Advise Archetype    
*  
* --------------------------------------------------------------------------------------------- 
*/

/* --------------------------------------------------------------------------------------------
*  GLOBAL Hard coded Styles
* ---------------------------------------------------------------------------------------------
*/

/* reset */
* { margin: 0; padding: 0;}
html, body, p, h1, h2, h3, h4, h5, h6, ul, ol {margin: 0; padding: 0;}
.column, .contents{box-sizing: border-box; -moz-box-sizing: border-box;}
    
/* permanent css */
#headerWrapper, #header, #hero, #contentTop, #contentBottom, #footerWrapper {clear: both; position: relative;}
#header, #footer, #page {overflow: hidden; position: relative; clear: both;}
#header {overflow: visible;}
.slideshowWrapper{position: relative;float:left;}
.contents {width: auto;}
.yellCopyright {display: inline; padding: 0;}
.logo, .logo a, .logo img{outline: 0; border: 0; text-decoration: none;}
.navigation, .navigation ul {list-style-type: none;}
 input[type="button"]:hover ,input[type="submit"]:hover, input[type="reset"]:hover {cursor: pointer;}
table {border-collapse: collapse;}
.contentlist.slideshow  {list-style: none; padding: 0; margin: 0; float: none; overflow: hidden; position:relative;}
.contentlist.slideshow  li {display: inline; float: left;}
.contentlist.gallery {list-style: none; padding: 0; margin: 0; float: left;}
.contentlist.gallery li {display: inline; float: left; overflow: visible; position: relative;}
.contentlist.gallery li img {margin: 0;} 
a.button{text-decoration: none;}
#footerWrapper img {border: none;}
.callToAction{position:relative;}
.column img{display:block;}

a img{border: 0;} 
   	 
   	 
   .gc-bubbleDefault tr:nth-of-type(2n+1), .gc-bubbleDefault tr:nth-of-type(2n) {
    background-color: transparent;
} 
   		 
/* -----------------------------
 *  Grid Framework
 * ----------------------------- */
/* standard grid */
.grid1 {width:30px;}
.grid2 {width:70px;}
.grid3 {width:110px;}
.grid4 {width:150px;}
.grid5 {width:190px;}
.grid6 {width:230px;}
.grid7 {width:270px;}
.grid8 {width:310px;}
.grid9 {width:350px;}
.grid10 {width:390px;}
.grid11 {width:430px;}
.grid12 {width:470px;}
.grid13 {width:510px;}
.grid14 {width:550px;}
.grid15 {width:590px;}
.grid16 {width:630px;}
.grid17 {width:670px;}
.grid18 {width:710px;}
.grid19 {width:750px;}
.grid20 {width:790px;}
.grid21 {width:830px;}
.grid22 {width:870px;}
.grid23 {width:910px;}
.grid24 {width:950px;}
.fullWidth {width:970px; margin:0 auto;}
    
/* gutters */
.grid1, .grid2, .grid3, .grid4, .grid5, .grid6, .grid7, .grid8, .grid9, .grid10, .grid11, .grid12, .grid13, .grid14, .grid15, .grid16, .grid17, .grid18, .grid19, .grid20, .grid21, .grid22, .grid23, .grid24 { margin-left: 10px; }
    
/* prepend */
.prepend1 {margin-left: 50px;}
.prepend2 {margin-left: 90px;}
.prepend3 {margin-left: 130px;}
.prepend4 {margin-left: 170px;}
.prepend5 {margin-left: 210px;}
.prepend6 {margin-left: 250px;}
    
/* append */
.append1 {margin-right: 50px;}
.append2 {margin-right: 90px;}
.append3 {margin-right: 130px;}
.append4 {margin-right: 170px;}
.append5 {margin-right: 210px;}
.append6 {margin-right: 250px;}

/* subpage grid */
#subPage .grid1 {width: 20px;}
#subPage .grid2 {width: 50px;}
#subPage .grid3 {width: 80px;}
#subPage .grid4 {width: 110px;}
#subPage .grid5 {width: 140px;}
#subPage .grid6 {width: 170px;}
#subPage .grid7 {width: 200px;}
#subPage .grid8 {width: 230px;}
#subPage .grid9 {width: 260px;}
#subPage .grid10 {width: 290px;}
#subPage .grid11 {width: 320px;}
#subPage .grid12 {width: 350px;}
#subPage .grid13 {width: 380px;}
#subPage .grid14 {width: 410px;}
#subPage .grid15 {width: 440px;}
#subPage .grid16 {width: 470px;}
#subPage .grid17 {width: 500px;}
#subPage .grid18 {width: 530px;}
#subPage .grid19 {width: 560px;}
#subPage .grid20 {width: 590px;}
#subPage .grid21 {width: 620px;}
#subPage .grid22 {width: 650px;}
#subPage .grid23 {width: 680px;}
#subPage .grid24 {width: 710px;}
#subPage .fullWidth, #subPage.fullWidth{width: 730px; margin: 0 auto;}
    
/* subpage prepend */
#subPage .prepend1 {margin-left:40px;}
#subPage .prepend2 {margin-left:70px;}
#subPage .prepend3 {margin-left:100px;}
#subPage .prepend4 {margin-left:130px;}
#subPage .prepend5 {margin-left:160px;}
#subPage .prepend6 {margin-left:190px;}
    
/* subpage append */
#subPage .append1 {margin-left:40px;}
#subPage .append2 {margin-left:70px;}
#subPage .append3 {margin-left:100px;}
#subPage .append4 {margin-left:130px;}
#subPage .append5 {margin-left:160px;}
#subPage .append6 {margin-left:190px;}

/* default column float */
.column {float: left; margin-bottom: 20px;}
    
/* floats */
.left {float: left;}
.right {float: right; margin-right:10px;margin-left:0;}
.clear {clear: both;}
.clearLeft {clear: left;}
.clearRight {clear: right;}

/* navigation */
.navigation {position: absolute;}
.navigation li {float: left; display: inline; position: relative; overflow: visible;}
.navigation li ul {display: none;}
.navigation li:hover ul {display: block; overflow: visible; position: absolute; z-index: 2;}
.navigation li ul li {float: none;}
.navigation a {display: block;}

/* Sub Nav Z-Index */
#headerWrapper { z-index:2; } 
#page { position:relative; z-index:1; } 
.navigation li { background-image:url('../../static01.cdn.ybsitecenter.com/template/css/images/blankbca6.gif?v=v4.17.6'); }

     
#page .navigation {float: left; position:relative;} 
#page .navigation li {display: block; float: none; position: static;} 
#page .navigation li:hover ul {position: relative; top: 0px; left: 0px; position: static;} 
#page .navigation li ul {display: block;} 
#page .navigation ul li:before {width: 16px; height: 16px; position: absolute; left: 1em; top: 1em;} 


/*Added to fix fw-581--start*/
/* credit cards + business hours */
.contents ul.paymentType, .contents ul.opening { list-style: none; padding: 0; }
/* Location */
.grid6 .contents.location span, .grid7 .contents.location span, .grid8 .contents.location span, #subPage .grid9 .contents.location span, #subPage .grid10 .contents.location span {width: 100%;}
.grid9 .contents.location span, .grid10 .contents.location span, #subPage .grid11 .contents.location span, #subPage .grid12 .contents.location span {width: 70px;}
.contents.location span {width: 110px;}
.contents.location p {clear: left; margin: 0; padding:0;}
.contents.location span {font-weight: bold;}
.contents.location address, .contents.location span, .contents.location p.email, .contents.location p.phone, .contents.location ul {float: left; clear: none; display: inline;}
.contents.location address, .contents.location span, .contents.location p.email, .contents.location p.phone {text-align: left;}
.contents.location address, .contents.location span, .contents.location p.email, .contents.location p.phone, .contents.location ul {margin: 0.5em 0 0 0;}
.grid6 .contents.location address, .grid6 .contents.location p.email, .grid6 .contents.location p.phone, .grid6 .contents.location ul, .grid6 ul.opening {margin: 0.25em 0 0.75em 0;}
.grid7 .contents.location address, .grid7 .contents.location p.email, .grid7 .contents.location p.phone, .grid7 .contents.location ul, .grid7 ul.opening {margin: 0.25em 0 0.75em 0;}
.grid8 .contents.location address, .grid8 .contents.location p.email, .grid8 .contents.location p.phone, .grid8 .contents.location ul, .grid8 ul.opening {margin: 0.25em 0 0.75em 0;}
#subpage .grid9 .contents.location address, #subpage .grid9 .contents.location p.email, .#subpage .grid9 .contents.location p.phone, .#subpage .grid9 .contents.location ul, #subpage .grid9 ul.opening {margin: 0.25em 0 0.75em 0;}
#subpage .grid10 .contents.location address, #subpage .grid10 .contents.location p.email, #subpage .grid10 .contents.location p.phone, #subpage .grid10 .contents.location ul, #subpage .grid10 ul.opening {margin: 0.25em 0 0.75em 0;}
/*Added to fix fw-581--end*/ 


.logo {z-index: 2;} 
.logo a, .logo img {display: block;}
.logo {overflow:hidden;}
#header .header {position: relative; top: 0; left: 0; z-index: 0;} 
#header .header img {display: block;}

/*  ContentList */
.contentlist img {margin: 0; padding: 0;} 
/*  SlideShow */
.column .slideshow img {margin: 0; padding: 0; } 

/*Added to fix fw-561*/
.socialmedia {clear: left;
width:250px !important;
}

/*Added to fix fw-1362*/
.overlay {position: relative;}

#contentTop .overlay div, #contentBottom .overlay div {position: absolute;}
#hero .overlay div {position: absolute;} 

ul.paymentType {clear: left; margin: 3px 0 16px 0;} 
ul.paymentType li {display: inline; float: left; margin: 2px;}
ul.paymentType img {margin: 0;} 
/*Added to fix 1574*/
#footer .navigation {background: none; position: static; height: auto; float: left; width:auto;} 
#footer .navigation li.first {margin: 0 0 0 10px;} 
#footer .navigation a:hover {background-color: transparent; background-image: none;} 
#footer .navigation a {padding: 3px 6px; width: auto; font-weight: normal; font-size: 0.8em;} 
#footer .navigation li.first a {padding: 3px 6px 3px 0;}
#footerWrapper {min-width: 970px;} 

#yellFooter.chile {overflow: visible;}
#yellFooter.chile a {display: block; position: relative; bottom: 20px;}
#yellFooter.chile p {text-align: center;}

form span.required {
position: relative;
}

form span.required:before {
content: "*"; position: absolute; left: -8px; top: 4px;
} 

h1 {zoom: 1; position: relative;} 

#page .gallery p.caption { margin: 0; background-color: transparent !important; }

.lightbox a { text-decoration: none; } 

@media print {
* {color:#000 !important;background:#fff !important;}
body{font-size:12pt;}
.column, #page, #subPage {float:none !important;width:100% !important;}
.navigation, .socialmedia, .contents.form, video, embed, iframe, object{display:none;}
a:link, a:visited {background:transparent;color:#333;text-decoration:none;}
a:link[href^="http://"]:after, a[href^="http://"]:visited:after {content:" (" attr(href) ") ";font-size:8pt;}
a[href^="http://"] {color:#000;}
.logo a:link[href^="http://"]:after, .logo a[href^="http://"]:visited:after{content: "";}
#yellFooter {font-size: 8pt;}
} 


/*Modified to fix #2446 starts*/

/* language, login, and search bar */
#toolbox {padding: 10px;}
#toolbox a {display: inline-block;}
#toolbox a.login {float: left; margin: 5px 0 0 0; padding: 6px 12px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; background: #222; color: #fff; font-weight: bold; text-decoration: none;}
#toolbox a.login:hover {background: #333;}
#toolbox .language {float: right; padding: 10px 0;}
#toolbox .language a {margin: 5px 3px 0 0; padding: 2px;}
#toolbox a:hover img {opacity: 0.8;}
#toolbox #search {float: right;width: 240px;margin:10px 0 0 0}
#toolbox #search input[name="searchstring"]{width:195px; float:left; margin: 0 6px 0 0}
#toolbox #search input[type="image"]{float:left}

/*Modified to fix #2446 ends*/


/* additional selector added so css cascades to second search box */
#headerWrapper form, .search form {display: inline-block; float: right; padding: 3px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; background: #ccc; margin: 0 0 10px 15px;}


/* Brendan edit to make search results user friendly */
#headerWrapper form input, .search form input {display: block; float: left; border: 0; padding: 2px; margin: 2px;}
#headerWrapper form input[type="text"], .search form input[type="text"] {width: 155px; height: 19px; font-style: italic; color: #ddd; background: #fff; margin-top: 5px;}

/* Need to parametise this so it fits into asset model and is template friendly */
	.search p strong {color: #007DD0;}
	.search .contents ol {list-style: decimal outside;}
	.search ol li {margin: 30px 0 0 0; font-size: 1.5em; font-weight: bold; position: relative; right: 15px;}
	.search ol li div {font-size: 0.7em; position: relative; left: 15px;}
	.search ol h3 {margin-top: 0; font-size: 1.6em;}
	.search ol p {font-weight: normal;}
	.search ol a {text-decoration: none;}

	
	.search #contentBottom p a {font-weight: bold; text-decoration: none; display: inline-block; padding: 0 1px;}
	
	#contentBottom .contents.searchSuffix {background: #ccc; padding: 8px;}
	#contentBottom .searchSuffix ul {padding: 0; margin: 0 0 0 30px; display: inline-block;}
	.searchSuffix ul li {display: inline; float: left; margin: 0 4px 0 0;}
	.searchSuffix li a {display: block; padding: 6px 10px; border: 1px solid #bbb; background: #f7f7f7; font-weight: bold; text-decoration: none;}
	.searchSuffix li a:hover {border: 1px solid #a3a3a3; background: #ededed;}
/* Also worth seeing if this exact same CSS can be mashed to support the Spain solution, as well as global */

#footer .atclear {clear: none;}
#footer .sitemap {float: right;}
#footer .contents.socialmedia {float: left;}
/* to fix the issue #1574
#footer .social, #footer .sitemap {display: inline-block;}*/
.gallery.thirds li {width: 30%;}
.gallery.quarters li {width: 23%;}
.gallery.fifths li {width: 18%;}

/* Modified to fix #2200 - starts here */
#cookieWrapper { width:auto;background:#333;font-family: Arial, Helvetica, sans-serif;font-size:12px;color:#ddd;display:none;position:fixed;z-index:9000;right:0;bottom:40px;height:auto;border-radius:10px 0 0 10px;opacity:0.9;border:1px solid #888;border-width:1px 0 1px 1px;}
.cookieInfo { margin: 0; padding: 20px; }
.cookieConsent { padding: 20px; float:left; width:auto;}
.cookieConsent p {text-align:left; float:left; }
.policyLink { color:#45b1ff; text-decoration:none; }
.cookiePolicyLink:hover { text-decoration:underline; }
#cookieClose, #cookieNo { padding:5px 8px; margin:10px 0 0; float:left; text-decoration:none; color:#666; background-color:#eaeaea; border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;}
#cookieClose { margin-left: 10px; }
#cookieNo { margin-left:0; }
#cookieClose:hover, #cookieNo:hover { text-decoration: underline; }
#moreInfo, #moreInfo:visited{text-decoration:underline;color:#ddd;}
#moreInfo:hover{color:#fff;}
/* Modified to fix #2200 - ends here */

.contents.location.icon span{width:32px;height:32px;margin-right:10px;font-size:1em;}
#page .contents.location.icon p.email, #page .contents.location.icon p.phone {height:32px; line-height:32px;}
.contents.location.icon span.address {background-position:-32px -128px;}
.contents.location.icon span.email {background-position:-64px -128px;}
.contents.location.icon span.phone {background-position:-96px -128px;}
.contents.location.icon span.mobile {background-position:-128px -128px;}
.contents.location.icon span.fax {background-position:-32px -160px;}
.contents.location.icon span.hours {background-position:-64px -160px;}

.contents.location span.abbr{width:2em;}
.contents.location ul.abbr{clear:left;}

.slide .contents.overlay, .slide .contents.overlay div, .btnSlideshowPrev, .btnSlideshowNext {
filter: inherit;
}
/* to Fix #307 starts*/
.navigation a.noclick{
	cursor:default;
}
/* to Fix #307 ends*/

/* to fix the issue #239*/
/*honeypot field*/
#email_address_field{width:0;height:0;overflow:hidden;font-size:0;padding:0;margin:0;border:none;float:left;}
#tsfield{width:0;height:0;overflow:hidden;font-size:0;padding:0;margin:0;border:none;float:left;}
/*to fix navigation background image issue #1078*/
.navigation{float:left;}














/* ---------------------------------------------------------------------------------------------
* ---------------------------------------------------------------------------------------------
* ---------------------------------------------------------------------------------------------
*  Palette
*  UKPlus - Advise
*  UKPlus - Advise    
*  
* ---------------------------------------------------------------------------------------------
* ---------------------------------------------------------------------------------------------
* --------------------------------------------------------------------------------------------- */

/* -----------------------------
*  Palette    
* ----------------------------- */

body {
	background-color: #ffffff;
}


/* content */



/* header */

#headerWrapper {
	background-color: transparent;
}

#header .phone {
	color: #ffffff;
}

#header .email {
	color: inherit;
}

#header .strap {
	color: #dabea0;
}



	 
/* navigation */


.navigation {
	
		background-color:transparent;
	
	
	
	
}

.navigation a {
	
		color: #ffffff;
	
		background-color:transparent;
	
	
	
}

.navigation a:hover {
	
	color: #f7f0cf;
	
		background-color: transparent;
	
}


.navigation ul {
	background-color: #6C4821;
}


.navigation .current > a {
	
		color: #f7f0cf;
	
		background-color: transparent;
	
}

.navigation .current > a:hover {
	
		color: #F7F0CF;
	
		background-color: transparent;
	
}
 

#page .navigation, #page .navigation ul {
	background-color: transparent;
}


#page .navigation a {
	
		color: #FFFFFF;
	
		background-color: transparent;
	
}

#page .navigation a:hover {
	
		color: #F7F0CF;
	
		background-color: transparent;
	
}


#page .navigation ul {
	background-color: #f8f8f8;
}


#page .navigation .current > a {
	
		color: #F7F0CF;
	
		background-color: transparent;
	
}


#page .navigation .current > a:hover {
	
		color: #F7F0CF;
	
		background-color: transparent;
	
}
  	 

/* hero */

#hero {
	
		background: transparent;
	
}


#hero p {
	color: inherit;
}


#page #hero .callToAction {
    
    background-color: transparent;
    
        color: inherit;
}

#page #hero .callToAction p {
    
        color: inherit;
}

#page #hero .callToAction:hover {
    
        background-color: transparent;
    
        color: inherit;
    
}

#page #hero .callToAction:hover p {

        color: inherit;
    
}


/* elements */
.contents a {
	
		color: #5b4025;
	
		background-color: transparent;
	
}

.contents a:hover {
	
		color: #8f6130;
	
}




.contents.products p, .contents.products h2, .contents.products h3, .contents.products h4 { 
   
}


/* headings */
h1{

	color: #5B4025;
	
	
	
}
	

h2 {

	color: #5b4025;



}


h3 {

}

h4 {

}


h3,h4,h5,h6 {
	color: #5b4025;
}

	 
/* tables */

table td {
	border-color: #5b4025;
}


thead td, thead th {
	
	
		color: inherit;
	
}

tfoot td, tfoot th {
	
		color: #ffffff;
	
}

thead td, thead th, tfoot td, tfoot th {
	
		color: inherit;
	
		background-color: transparent;
	
}


table tr:nth-of-type(odd){
	background-color: #F7F0CF;
}

table tr:nth-of-type(even){
	background-color: transparent;
}
  
	 
/* forms */

form {
	
		border-color: #5b4025;
	 
}


fieldset {
	border-color: #5b4025;
}

legend, label, form span {
	color: #222222;
}


input[type="text"], input[type="password"], input[type="radio"], input[type="checkbox"], select, textarea {
	
		border-color: #5b4025;
	
		background-color: #F7F0CF;
	
		color: #222222;
	 
}

input[type="radio"], input[type="checkbox"] {
	border: none;
}

 input[type="button"], input[type="submit"], input[type="reset"], .contents .button {
	
		border-color: #5b4025;
	
	color: #ffffff;
	
	background-color: #5b4025;
	
}


 input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, .contents .button:hover {
	
		color:  #ffffff;
	
		background-color: #8f6130;
	
}


.success, .notice, .error {
	border-color: #5b4025;
}

  	 
/* text */

blockquote {
	border-color: #5b4025;
}

cite {
	color: #5b4025;
}

      
	 
/* content classes */


p.intro {
	color: #5b4025;
}

.testimonial {
	color: #8f6130;
}

#header.phone {
	color: #5b4025;
}


span.email {
	color: #5b4025;
}

span.credit {
	color: #5b4025;
}

span.meta {
	color: #8f6130;
}


span.price {
	
		background: transparent;
	
		color: #5b4025;
	
}

.caption {}

.contentlist.gallery p.caption {
	
		background-color: #222222;
	
		color: #ffffff;
	
}



ul.opening {
	
		background: transparent;
	
		color: #5b4025;
	
}
	 
/* columns */

.column { 

	
	
}

.column:first-child { 
	
}

.column:last-child { 
	
 }




.home #contentTop .column{
	background-color: transparent;
}

.home #contentTop .column.first{
	background-color: transparent;
}

.home #contentTop .column.last{
	background-color: transparent;
}

	 
	 
.internal .column { 
	 
}
	 
.contents {

	
	
 }

.home .contents {
 
 }

.contents.products { 

	
	
 }
	 

/* page */

#page {
	
		color: #222222;
	
		background-color: #ffffff;
	
}
	 
/* footer */

#footerWrapper {
	
		background-color: #69635d;
	
		color: #ffffff;
	
}


#footer {
	
}



#footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
	color: #ffffff;
}

#yellFooter {
	color: #b3a99f;
}

#yellFooter a {
	color: #b3a99f;
}


/* lightbox */


#dimTheLights {
	background-color: #222222;
}


#lightBox {
	
		background-color: #fdfdfd;
	
		border-color: #444444;
	
}

.googleMap{
	float:left;
	width:100%;
	border-width: 1px;
	
		border-color: #5b4025;
	
} 

.directionsModuleExpand {
	height: 20px;
	width: 100%;
	cursor: pointer;
	text-align: center;
	text-transform: uppercase;
	line-height: 20px;
	font-size: 10px;
	float: left;
	
		background-color: #5b4025;
	
		color: #ffffff;
	
}


.directionsModuleExpand:hover {
	background-color: #8f6130;
}


.directionsAddressList li:hover {
	cursor: pointer;
	
		background-color: #5b4025;
	
		color: #ffffff;
	
}

/*Added new CSS*/


#contentTop {
	
	background: transparent;
	
	}

#contentBottom {

background: transparent;


}

#hero .overlay div {

background: #5b4025;


color: #ffffff;

}

.overlay h2 {

color: #ffffff;


background: #5b4025;

}

.overlay p {

color: #ffffff;


background: #5b4025;

}

.overlay a {

color: #F7F0CF;

}

.overlay a.callToAction {

color: #F7F0CF;


background: transparent;

}

.callToAction {


}





.feature {



} 


.feature h1 {


} 


.feature h2 { 


} 


.feature .callToAction { 


} 

.feature p.intro { 


}


.feature a { 


}


.feature a:hover {


}

#page .callToAction strong {

color: #5b4025;

} 

.link a { 






}

.link a:hover { 




}


#footer .column a {

}












/* ---------------------------------------------------------------------------------------------
* ---------------------------------------------------------------------------------------------
* ---------------------------------------------------------------------------------------------
*  Typography
*  UKPlus - Advise
*  UK Legacy Plus - Advise Archetype    
*  
* ---------------------------------------------------------------------------------------------
* ---------------------------------------------------------------------------------------------
* --------------------------------------------------------------------------------------------- */

body {
	
		font-family: Arial, Helvetica, "Helvetica Neue", sans-serif; 
	
		font-size: 75%;
	
}

/* headings */
h1, h2, h3, h4, h5, h6 {
	
		font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif; 
	
}


h1 {
	font-size: 1.933em;
}

h2 {
	font-size: 1.733em;
}

h3 {
	font-size: 1.567em;
}


h4 {
	font-size: 1.4em;
}

h5 {
	font-size: 1.233em;
}

h6 {
	font-size: 1.233em;
}


/* text */

cite, blockquote, #page .callToAction p {
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

thead td, thead th, tfoot td, tfoot th{
	font-family: Arial, Helvetica, "Helvetica Neue", sans-serif;
}

cite{
	font-size: 1em;
}


blockquote{
	
		font-size: 1.233em; 
	
		line-height: 1.833em;
	
}

#page p {
	
		font-size: 1em; 
	
	
		line-height: 1.833em;
	
}



.contents ul, ol {
line-height: 1.833em;
}


#footer p {
	
		font-size: 1em; 
	
		line-height: 1.833em;
	
}

#hero p {
	
		font-size: 1em; 
	
		line-height: 1.833em;
	
}
   	 
/* content classes */

.phone {
	font-size: 1em;
}


.email {
	font-size: 1em;
}


.credit {
	
		font-size: 1em; 
	
		line-height: 1.833em;
	
}

#page .meta {
	
		font-size: 1em; 
	
		line-height: 1.833em;
	
}

/* hero */
#hero .callToAction {
	
		font-size: 1.233em; 
	
		line-height: 1.833em;
	
}

.callToAction {
	
		font-size: 1.25em; 
	
		line-height: 1.25em;
	
}


   
/* forms */

.success, .notice, .error {
	
		font-size: 1.233em; 
	
		line-height: 1.833em;
	
}

input[type="text"], input[type="password"], input[type="radio"], input[type="checkbox"], select, textarea, optgroup {
	font-family: inherit;
}


 input[type="button"], input[type="submit"], input[type="reset"], .button {
	font-family: inherit; font-size: 1em;
}

 
/* footer */
#footerWrapper h3 {
	font-size: 1.2em;
	line-height: 1em;
}

#footerWrapper h3 {
	
}

#yellFooter, .yellCopyright, #yellFooter a {
	
}
  
/* navigation */

.navigation , .navigation a , .navigation li a, .navigation li ul li a{
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

.navigation li {
	line-height: 1.917em;
}

.navigation a {
	font-size: 1em;
}

  	 
/* slideshow */

#lightBoxCaption {
	font-size: 1em;
}


/* Added new CSS*/

ul.opening li {

font-size: 1em;

}

ul.opening li {

line-height: 1.833em;

}

#page p.intro {

font-size: 1em;

}

span.price {

font-size: 1em;

}

ul.opening, address {

line-height: 1.833em;

}



.feature {

} 

.feature .callToAction { 

} 


#page .callToAction p, #page .callToAction h2 { 

}


#page .callToAction strong {

font-size: 1em;

}

#header .strap {


}


#footer h1 {

}
#footer h2 {


}

#footer h2, #footer h3 {

 }
 
#footer .contents p {

}










/* ---------------------------------------------------------------------------------------------
* ---------------------------------------------------------------------------------------------
* ---------------------------------------------------------------------------------------------
*  TextStyle
*UKPlus - Advise
*UK Legacy Plus - Advise
*  
* ---------------------------------------------------------------------------------------------
* ---------------------------------------------------------------------------------------------
* --------------------------------------------------------------------------------------------- */
    
    
/* headings */
h1 {
	
		font-weight:normal;
	
		font-style:normal;
	
		text-transform:none;




}

	
h2 {
	
		font-weight:normal;
	
		font-style:normal;
	
		text-transform:none;





}


h3
{




}

h4
{




}


h3, h4, h5, h6 {
	
		font-weight:normal;
	
		font-style:normal;
	
		text-transform:none;

}

/* call to action */

#hero .callToAction {
	
		font-weight:normal;
	
		font-style:normal;
	
		text-transform:none;
	
		text-align:left;
	
}



#hero .callToAction:hover {text-decoration:none;
}



	
.column .callToAction {
	
		font-weight:normal;
	
		font-style:normal;
	
		text-transform:none;
	
		text-align:center;
	
}



.column .callToAction:hover {
	text-decoration:none;
}


/* tables */

tbody {
	text-align:left;
}

thead, tfoot {
	text-align:left;
}


/* forms */
form span, legend {
	
		font-weight:normal;
	
		font-style:normal;
	
		text-transform:none;
	
}

/* elements */

a {
	text-decoration:underline;
}

a:hover {
	text-decoration:none;
}


	
cite{
	
		font-weight:normal;
	
		font-style:normal;
	
}	


blockquote{
	
		font-weight:normal;
	
		font-style:italic;
	
		text-align:center;
	
}

strong, em, sub, sup, abbr, acronym, code {}

/* content classes */
	  	 
#header .phone {
	
		font-weight:normal;
	
		font-style:normal;
	
		text-transform:none;
	
	
	
}

	
span.email {
	
		font-weight:normal;
	
		font-style:normal;
	
		text-transform:lowercase;
	
}



	
span.credit {
	
		font-weight:normal;
	
		font-style:italic;
	
		text-transform:none;
	
}

	
span.meta {
	
		font-weight:normal;
	
		font-style:italic;
	
		text-transform:uppercase;
	
}


.suffix a { 


}

.suffix a:hover { 

}
	
	
	

   	 
/* navigation */ 
	 
.navigation a {
	
		font-weight:normal;
	
		font-style:normal;
	
		text-transform:uppercase;
	
		text-decoration:none;
	
	
	
}



span.price {

font-weight: normal; 



font-style: normal;


}
/*Added new CSS*/
#hero .callToAction:hover {

text-decoration: none;

}

p.intro {

font-weight: normal;


font-style: normal;

}

ul.opening li {

font-weight: normal;

}

address, .location address {



}


#hero p {
 
}

#page p {
 

}


.feature p {


}

.feature h1 {

}

.feature h2 {

}

.feature .callToAction {


}

.feature .intro {




}

.feature a {

}

.feature a:hover {


}

.link a { 



}


.link a:hover {



 

}



















/* ---------------------------------------------------------------------------------------------
* ---------------------------------------------------------------------------------------------
* ---------------------------------------------------------------------------------------------
*  BlockStyling
*  UKPlus - Advise
*  UK Legacy Plus - Advise    
*  
* ---------------------------------------------------------------------------------------------
* ---------------------------------------------------------------------------------------------
* --------------------------------------------------------------------------------------------- */


	#headerWrapper {
		height: 130px;
	}
	
	#hero {
		overflow: visible;
	}
	
	.home #page {
		margin: 0 auto;
	}
	
	.internal #page {
		margin: 0 auto;
	}
	

/* header */  


	.strap {
		position: absolute;
	}
	
	.strap {
		top: 35px;
	}
	
	.strap {
		left: 310px;
	}
	
/* navigation */


	.navigation {
		position: absolute;
	}
	
	.navigation {
		top: 83px;
	}
	
	.navigation {
		left: 25px;
	}
	
	.navigation {
		width: 970px;
	}
	
	.navigation {
		height: 40px;
	}
	
	.navigation {
		padding: 0;
	}
	

.navigation li {
	float: left;
	display: inline;
 	position: relative;
 	overflow: visible;
}

.navigation li ul {
	display: none;
	
 	width: 210px;
	
}

.navigation li:hover ul {display: none;
	overflow: visible;
 	position: absolute;
 	z-index: 2;
 	
	top: 3.25em;
	
	
	left: 0;
	
	
	
}

.navigation li ul li {
	float: left;
	width: 100%;
}

.navigation a {
	display: block;
 	
	padding: 0.75em 1.5em;
	
	
	margin: 0;
	
	
		
   border-radius: 0;
   
   -moz-border-radius: 0;
   -webkit-border-radius: 0;
   
   
}

#page .navigation {
	z-index: 1000;
 	float: left;
	 position:relative;
	
	
	top: 0;
	
	
	left: 0;
	
	
	
	
	margin: 0;
	
	
	
	
	
	
}

#page .navigation li {
	display: block;
	float: none;
	
	margin:0;
	
}

#page .navigation li:hover ul {
	position: absolute;
	top: 0px;
	left: 0px;
}

#page .navigation li ul {
	display: none;
	
}

#page .navigation ul li:before {
	width: 16px;
 	height: 16px;
 	position: absolute;
 	left: 1em;
 	top: 1em;
}

#footer .navigation a {
	padding: 4px 12px;
}


/* content */
.home #contentTop {
	overflow: hidden;
 	
 	
 	
 	border-radius: 0;
 	
 	
 	-moz-border-radius: 0;
 	
 	
 	-webkit-border-radius: 0;
 	
 }

   	 
/* headings */

h1 {

	
 	margin: 0.5em 0;
 	
 	
 	
 	
 	
 	
 	
 	

}


h2 {

	
 	margin: 0.5em 0;
 	
 	
 	
 	
 	
 	
 	
 	

}


	h3, h4, h5, h6 {
	
	
 	margin: 0.5em 0;
 	
 	
 	
 	
	}
	
	
	
h3 {
 	
 	
 	
 	

}

h4 {
 	
 	
 	
 	

}


	.home #hero h1 {
		margin: 1.667em 0 0.5em 0;
	}
	
	.home #hero h1 {
		padding: 0;
	}
	

/* elements */


	#hero p {
		margin: 0.5em 0;
	}
	
	.contents p {
		margin: 0 0 1em 0;
	}
	
	#footer .contents p {
		margin: 0.5em 0;
	}
	
	.contents ul, ol, pre, address, dl {
		margin: 0.5em 0;
	}
	
	.contents ul, ol {
		margin: 0 0 0.5em 0;
	}
	
	.contents ul, ol {
		padding: 0 0 0 1em;
	}
	
	.contents ul {
		list-style: outside disc;
	}
	.contents ol {
		list-style: outside lower-roman;
	}

	.contents ul ul, .contents ol ol {
		margin: 0 0 0 1em;
	}
	
	.contents ul ul, .contents ol ol {
		padding: 0 0 0 1em;
	}
	
	blockquote {
		padding: 0.5em;
	}
	
	blockquote {
		margin: 0.5em 0;
	}
	
	blockquote {
		border-width: 1px 0;
	}
	
	blockquote {
		border-style: solid;
	}
	

	.contents img {
		outline: 0;
		
		border-width: 0;
		
		
		
		
	}


   	 
   .suffix a { 	 
   	 
 	
 	   	 }
/* tables */

	table {
 		margin: 0.5em 0;
	}



	td {
		padding: 0.25em;
	}
	
	thead td, thead th{
		border-width: 0 0 1px 0;
	}
	
	thead td, thead th{
		border-style: solid;
	}
	
	tfoot td, tfoot th{
		border-width: 1px 0 0 0;
	}
	
	tfoot td, tfoot th{
		border-style: solid;
	}
	


 
/* forms */

form {
	
		padding: 0.8em 1.4em ;
	
	
		margin: 0.5em 0;
	
	
	
}

fieldset {
	
		margin: 0 0 1em 0;
	
	
		padding: 0;
	
	
		border-width: 0;
	
	
}



form span {
	display: inline-block;
	width: 20%;
	vertical-align: top;
	
	
	padding: 0.3em 0;
	
}


label {
	display: inline-block;
	
	padding: 0.7em 0.2em;
	
	
	margin: 0.5em 0;
	
}

/* added to fix fw-784---starts*/
.form form ul, .form form li { margin: 0; padding: 0;}
.form form ul li {list-style: none;}
form .horizontal li {display: inline-block;zoom:1;*display:inline;}
/* added to fix fw-784---ends*/

input[type="text"], input[type="password"], input[type="radio"], input[type="checkbox"], select, textarea {
	
	border-width: 1px;
	
	
	border-style: solid;
	
}


input[type="text"], input[type="password"], select, textarea {
	
	margin: 0.5em 0;
	
	
	padding: 0.25em;
	
	width: 100%;
	
	
}


form input, form textarea {

	
}


div.label, div.input {display: inline-block; vertical-align: top; zoom: 1; *display: inline;}
div.input.vertical {display: block; width: 95%}
div.input.vertical select {max-width: 50%;}		
.grid6 div.input.vertical select, .grid7 div.input.vertical select, .grid8 div.input.vertical select, .grid9 div.input.vertical select {max-width: 100%;}

div.label {
	width: 23%;
	max-width: 50%;
	
	padding: 0.7em 0.2em;
	
}
div.input { width: 70%; }
div.label span {display: inline-block; width: auto; display: inline-block; vertical-align: top;}
    
    
div.input label {min-width: 25%;}

div.horizontal label {min-width: 0; width: auto;}
div.horizontal input {margin-right: 25px;}


	input[type="radio"], input[type="checkbox"] {
	border: 0; 
	background: none;
	
	}


	input[type="text"], input[type="password"], select {
		padding: 0.25em 0.25em 0.25em 0.5em;
	}


input[type="submit"], input[type="button"], input[type="reset"], .button {
	
	margin: 0 1em 0 0;
	
	
	padding: 0.2em 1em;
	
	
	
	border-style: solid;
	
	
	
	
}

a.button:hover {
	text-decoration: none;
}




textarea{
	overflow:auto;
	
	padding: 0.25em;
	
}

.contents .success, .contents .notice, .contents .error {
	position: relative;
	clear: both;
	float: none;
	
	margin: 0.5em 0;
	
	
	padding: 1.5em 1em 1.5em 64px;
	
	
	
}

.success:before, .notice:before, .error:before {
	position: absolute;
 	width: 32px;
 	height: 32px;
 	left: 1em;
 	top: 1em;
}
   	 
/* content classes */

.contents {
 
 
  

}

.contents.products {
 
 
  

}

.column {
 	 
	}

.contents { 
	
}

.home #hero .contents {
	
	
}

.internal #hero .contents {
	
	
}

#contentTop .column, #contentBottom .column, #subContent .column {
  
}

#contentTop .contents, #contentBottom .contents, #subContent .contents {
	
	
	padding: 0 20px;
	
	
} 

.column img {
	
	margin: 0 0 10px 0;
	
	
} 

#footer .contents {
	
	margin: 1em 0 ;
	
	
	padding: 0 20px;
	
}

.contents span.meta {
	
	margin: -1em 0 0 0;
	
	
	padding: 0 0 1em 1em;
	
}

.credit {
	
	
}


	.contentlist.gallery li {
		margin: 5px 0 0 10px;
	}



.contentlist.gallery p.caption {
 	overflow: hidden;
	
	position: absolute;
	
	
	
	left: 0;
	
	
	bottom: 0;
	
	
	
	padding: 0 4px;
	
	
}

.contentlist.gallery img {
	
	border-width: 0;
	
	
}   	 
  
  
/* home hero */

.home #hero {
	
	
}

.home #hero h1 {
	
	
	margin: 1.667em 0 0.5em 0;
	
	
	padding: 0;
	
}

.home #hero p {
	
}

#hero .callToAction {
	display: block;
	
	float: left;
	
	
	
	
	
	clear: left;
	
	
	
	
	
	
}

/* content top */



.home #contentTop .first {
	
	
}

/* footer */
#footerWrapper {
	
	margin: 5em auto 0;
	
	
	padding: 1em 0 0 0 ;
	
}

#yellFooter {
	
	margin: 5em auto 0;
	
	
	padding: 0 0 1em 0;
	
}

/* slideshow */



	.home .slideshow {
		margin: 0;
	}


.home .slideshow, .home .slideshow li {
	
	width: 970px;
	
	
	height: 305px;
	
	
	padding: 0;
	
}

.internal .slideshow {
	
	margin: 0;
	
	
	padding: 0;
	
}

.internal .slideshow, .internal .slideshow li {
	
	
}


	.btnSlideshowPrev, .btnSlideshowNext {
		bottom: 0px;
	}


.internal #contentTop .column, .internal #contentBottom .column {
	
	
}

.internal #hero .column {
	
	
}


.internal #footer .column {
	border: none;
}

.internal #hero {
	
	
}


.internal #hero h1 {
	
	
	margin: 1.667em 0 0.5em 0;
	
	
	padding: 0;
	
}

.internal #hero p {
	
}



.internal #hero .callToAction {
	display: block;
	
	
	
	
	
	
	
	
	
	
}





.imageRight img, .imageRight embed, .imageRight object, .imageRight iframe {
	float: right;
	
	margin: 10px 0 ;
	
}	

.imageLeft img, .imageLeft embed, .imageLeft object, .imageLeft iframe {
	float: left;
	
	margin: 10px 0 ;
	
}


/*Added new CSS*/

#contentTop .overlay div, #contentBottom .overlay div, #subContent .overlay div {
	position: absolute;
	
	
	right: 10px;
	
	
	
	bottom: 10px;
	
}

#hero .overlay div {
	position: absolute;
	
	right: 10px;
	
	
	
	bottom: 10px;
	
	
	
	width: auto;
	
	
	padding: 1.25em;
	
}

.imageLeft img {
	float: left;
	
	margin-right: 15px ;
	
}

.imageRight img {
	float: right;
	
	margin-left: 15px ;
	
}

span.price {
	
	
	
}

ul.opening {
	
	
	border-width: 0;
	
	
	border-radius: 0;
	
	
	-moz-border-radius: 0;
	
	
	-webkit-border-radius: 0;
	
}

.callToAction {
	
	
	border-width: 0;
	
	
	padding: 0 0.5em;
	
	
	margin: 1em 0 0;
	
}

input[type="submit"], input[type="reset"], input[type="button"], .button {
	
}

.contents ul.opening {

} 

.contentlist.gallery li img {

border-width: 0;

} 

#contentTop .column {

}

#contentBottom .column {

}

#subContent .column {

}

.location span {

}

.imageLeft, .imageRight {overflow: hidden;}
.feature {











} 

.feature h1 {





} 

.feature h2 {





} 

.feature .callToAction {









} 

.feature img {


} 


.contents ul.sitemap li {display: inline-block; margin: 4px;}

.contents ul.sitemap li a { padding: 1.15em 2em; display: inline-block; background: #ccc; color: #111; text-decoration: none; border-radius: 4px;  -moz-border-radius: 4px; -webkit-border-radius: 4px; }

.contents ul.sitemap li a:hover {background: #ddd;}
.contents ul.sitemap li ul {display: block; margin: 4px 0 0 0; padding: 0;}
.contents ul.sitemap li ul li {float: left; clear: left; margin: 4px 0; }
.contents ul.sitemap li ul li a {background: #aaa;}
.contents ul.sitemap li ul li ul li a {background: #666; color: #f5f5f5;}
.contents ul.sitemap li ul li ul li a:hover {color: #111;}

/*links*/


.link { 



}



.link a { 
display: block;







}






#footer .column {


}













/* ---------------------------------------------------------------------------------------------
* ---------------------------------------------------------------------------------------------
* ---------------------------------------------------------------------------------------------
*  StyleElement
*  UKPlus - Advise
*  UK Legacy Plus - Advise	
*  
* ---------------------------------------------------------------------------------------------
* ---------------------------------------------------------------------------------------------
* --------------------------------------------------------------------------------------------- */





body {
	
		background-image: url('advise-defaultbodybg-04bb8.jpg?blobcol=urlbodybgurl&amp;blobheader=image%2Fjpeg&amp;blobheadername1=Content-Disposition&amp;blobheadervalue1=inline%3B+filename%3Dadvise-defaultbodybg-0.jpg&amp;blobkey=id&amp;blobtable=CSS_UXStyleElement&amp;blobwhere=1300961336780&amp;ssbinary=true&amp;moddate=2012-09-15%2007:25:22'); 
	
		background-repeat: repeat-x; 
	
		background-position: center top; 
	
}



body.internal {
	
	background-image: url('advise-internalBodyBg-0234a.jpg?blobcol=urlinternalbodybgurl&amp;blobheader=image%2Fjpeg&amp;blobheadername1=Content-Disposition&amp;blobheadervalue1=inline%3B+filename%3Dadvise-internalBodyBg-0.jpg&amp;blobkey=id&amp;blobtable=CSS_UXStyleElement&amp;blobwhere=1300961336780&amp;ssbinary=true&amp;moddate=2012-09-15%2007:25:22');
  	
  	
  	background-repeat: repeat-x;
  	
  	
  	background-position: center top;
  	
  	
}

html {
	background-image: url('bg-repeat.png');
	background-repeat: repeat;
	background-position: center top;
}

.logo > a > .logo {
	height: 70px;
	width: auto;
	margin-top: 5px;
	display: inline-block;
}

.logo > a {
	display: inline-block;
}

.logo > .strapline {
	width: 520px;
	float: right;
	display: inline-block;
	text-align: right;
	margin-top: 15px;
	font-size: 0.8rem;
	line-height: 1rem;
}

.logo > .strapline > a[href^="tel:"]{
	font-size: 2.6rem;
	display: inline-block;
	line-height: 2rem;
	color: #004476;
}

.logo > .strapline > a[href^="mailto:"]{
	font-size: 1.1rem;
	display: inline-block;
	color: #004476;
}

#headerWrapper {
	
}




#header {
	
		background-repeat: repeat-x; 
	
		background-position: center top;
	
}


	
/* home */
/* rows */




.home #page { 
	
}	





.home #subPage {
	
}	



.home #hero {
	
		background-repeat: repeat; 
	
		background-position: center top;
	
}



.home #contentTop {
	
		background-repeat: repeat; 
	
		background-position: center top;
	
}



.home #contentBottom {
	
		background-repeat:repeat; 
	
		background-position: center top;
	
}

/* columns */


.home #contentTop .column{
	
}



.home #contentTop .column.first{
	
}




.home #contentTop .column.last{
	
}

/* internal */
/* rows */



.internal #page {
	
}



.internal #subPage{
	
}



.internal #hero {
	
		background-repeat: repeat; 
	
		background-position: center top;
	
}




.internal #contentTop {
	
		background-repeat: repeat; 
	
		background-position: center top;
	
}





.internal #contentBottom {
	
}


/* columns */



.internal #hero .column{
	
}




.internal .column{
	
}
 



.home h1 {


	 
	 
	
	

}




h1 {

	
	 
	 
	
	
	
}




.home h2 {

	 
	 
	
	
}



h2 {
	
	 
	 
	
	
}



.home h3 {


	 
	 
	
	
}



h3 {
	
	 
	 
	
	
}



.home h4 {


	 
	 
	
	
}



h4 {
	
	 
	 
	
	
}
		


		
.home .contents {

	
	 
	
	
}



.contents {

	
	 
	
	
}



.home .contents.callToAction {
	
	
	
	
	
}



.contents.callToAction {

	
	
	
	
	
}




/* footer */



#footerWrapper {
	
}

#footerWrapper .column{
	background-image: none;
}

/* slideshow */



.slideshowWrapper {
	
}




#page .navigation ul li:before {
	content: "";
	background-position: 0px 0px;
	background-repeat: no-repeat;
	
		background-image: url('advise-established-03eda.png?blobcol=urlspriteurl&amp;blobheader=image%2Fpng&amp;blobheadername1=Content-Disposition&amp;blobheadervalue1=inline%3B+filename%3Dadvise-established-0.png&amp;blobkey=id&amp;blobtable=CSS_UXStyleElement&amp;blobwhere=1300961336780&amp;ssbinary=true&amp;moddate=2012-09-15%2007:25:22');
	
}   	 



.success:before, .notice:before, .error:before {
	content: "";
	
	background-image: url('advise-established-03eda.png?blobcol=urlspriteurl&amp;blobheader=image%2Fpng&amp;blobheadername1=Content-Disposition&amp;blobheadervalue1=inline%3B+filename%3Dadvise-established-0.png&amp;blobkey=id&amp;blobtable=CSS_UXStyleElement&amp;blobwhere=1300961336780&amp;ssbinary=true&amp;moddate=2012-09-15%2007:25:22');
	
	background-repeat: no-repeat;
}

.contents.location.icon span.address,
.contents.location.icon span.email,
.contents.location.icon span.phone,
.contents.location.icon span.mobile,
.contents.location.icon span.fax,
.contents.location.icon span.hours {
background-image:url('advise-established-03eda.png?blobcol=urlspriteurl&amp;blobheader=image%2Fpng&amp;blobheadername1=Content-Disposition&amp;blobheadervalue1=inline%3B+filename%3Dadvise-established-0.png&amp;blobkey=id&amp;blobtable=CSS_UXStyleElement&amp;blobwhere=1300961336780&amp;ssbinary=true&amp;moddate=2012-09-15%2007:25:22');
	}


.success:before {
	background-position: -32px -192px;
}

.notice:before {
	background-position: -32px -224px;
}

.error:before {
	background-position: -64px -192px;
}


#hero .callToAction:after{
	content: "";
	
	background-image: url('advise-established-03eda.png?blobcol=urlspriteurl&amp;blobheader=image%2Fpng&amp;blobheadername1=Content-Disposition&amp;blobheadervalue1=inline%3B+filename%3Dadvise-established-0.png&amp;blobkey=id&amp;blobtable=CSS_UXStyleElement&amp;blobwhere=1300961336780&amp;ssbinary=true&amp;moddate=2012-09-15%2007:25:22');
	
	position: absolute;
	width: 32px;
	height: 32px;
	top: 0px;
	right: 5px;
	background-position: -32px 0px;
}



#hero .callToAction:hover:after{
	background-position: -64px 0px;
}
/* Modified to fix the #10(Grand Canyon) and #6975(Mammoth Cave) - Starts Here */
/* social media */


.yell16, .yell32, .facebook16, .facebook32, .google16, .google32, .twitter16, .twitter32, .youtube16, .youtube32, .linkedIn16, .linkedIn32, .tuenti16, .tuenti32 {
	
	background-image: url('advise-established-03eda.png?blobcol=urlspriteurl&amp;blobheader=image%2Fpng&amp;blobheadername1=Content-Disposition&amp;blobheadervalue1=inline%3B+filename%3Dadvise-established-0.png&amp;blobkey=id&amp;blobtable=CSS_UXStyleElement&amp;blobwhere=1300961336780&amp;ssbinary=true&amp;moddate=2012-09-15%2007:25:22');
	
}

/* Modified to fix the #10(Grand Canyon) and #6975(Mammoth Cave) - Ends Here */

#lightBoxBtnClose:before, #lightBoxBackward:hover:before, #lightBoxForward:hover:before {
	content: "";
	
	background-image: url('advise-established-03eda.png?blobcol=urlspriteurl&amp;blobheader=image%2Fpng&amp;blobheadername1=Content-Disposition&amp;blobheadervalue1=inline%3B+filename%3Dadvise-established-0.png&amp;blobkey=id&amp;blobtable=CSS_UXStyleElement&amp;blobwhere=1300961336780&amp;ssbinary=true&amp;moddate=2012-09-15%2007:25:22');
	
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	position: absolute;
	cursor:pointer;
}



.btnSlideshowPrev {
	
		background: url('advise-established-03eda.png?blobcol=urlspriteurl&amp;blobheader=image%2Fpng&amp;blobheadername1=Content-Disposition&amp;blobheadervalue1=inline%3B+filename%3Dadvise-established-0.png&amp;blobkey=id&amp;blobtable=CSS_UXStyleElement&amp;blobwhere=1300961336780&amp;ssbinary=true&amp;moddate=2012-09-15%2007:25:22') -96px -64px no-repeat;
	
	left: 0px;
}


.btnSlideshowNext {
	
		background:  url('advise-established-03eda.png?blobcol=urlspriteurl&amp;blobheader=image%2Fpng&amp;blobheadername1=Content-Disposition&amp;blobheadervalue1=inline%3B+filename%3Dadvise-established-0.png&amp;blobkey=id&amp;blobtable=CSS_UXStyleElement&amp;blobwhere=1300961336780&amp;ssbinary=true&amp;moddate=2012-09-15%2007:25:22') -224px -64px no-repeat;
	
	right: 0px;
}

.slideshowNavigationWrapper a, .slideshowNavigationWrapper .current {
    
    background: url('advise-established-03eda.png?blobcol=urlspriteurl&amp;blobheader=image%2Fpng&amp;blobheadername1=Content-Disposition&amp;blobheadervalue1=inline%3B+filename%3Dadvise-established-0.png&amp;blobkey=id&amp;blobtable=CSS_UXStyleElement&amp;blobwhere=1300961336780&amp;ssbinary=true&amp;moddate=2012-09-15%2007:25:22') 0 -64px no-repeat;
    
}

.slideshowNavigationWrapper a:hover, .slideshowNavigationWrapper a.current {
    background-position: -16px -64px;
}

.carouselWrapper {
    list-style: none;
}
/* Modified to fix the #10(Grand Canyon) and #6975(Mammoth Cave) - Starts Here */
/* social media */
.yell16, .yell32, .facebook16, .facebook32, .google16, .google32, .twitter16, .twitter32, .youtube16, .youtube32, .linkedIn16, .linkedIn32, .tuenti16, .tuenti32  {
	background-repeat: no-repeat;
	float: left;
	margin-right: 4px;
}

.yell16:hover, .yell32:hover, .facebook16:hover, .facebook32:hover, .google16:hover, .google32:hover, .twitter16:hover, .twitter32:hover, .youtube16:hover, .youtube32:hover, .linkedIn16:hover, .linkedIn32:hover, .tuenti16:hover, .tuenti32:hover  {
	opacity: 0.8;
	filter:alpha(opacity=80);
}
/* Modified to fix the #10(Grand Canyon) and #6975(Mammoth Cave) - Ends Here */
.yell16 {
	background-position: 0px -256px;
	width: 16px;
	height: 16px;
}

.yell32 {
	background-position: -32px -256px;
	width: 32px;
	height: 32px;
}

.facebook16 {
	background-position: 0px -272px;
	width: 16px;
	height: 16px;
}

.facebook32 {
	background-position: -32px -288px;
	width: 32px;
	height: 32px;
}

.google16 {
	background-position: 0px -288px;
	width: 16px;
	height: 16px;
}

.google32 {
	background-position: -64px -256px;
	width: 32px;
	height: 32px;
}

.twitter16 {
	background-position: 0px -304px;
	width: 16px;
	height: 16px;
}

.twitter32 {
	background-position: -64px -288px;
	width: 32px;
	height: 32px;
}

.youtube16 {
    background-position: -16px -256px;
    width: 16px;
    height: 16px;
}

.youtube32 {
    background-position: -96px -256px;    
    width: 32px;
    height: 32px;
}
/* Added to fix the #10(Grand Canyon) - Starts Here */
.linkedIn16 {
	background-position: -16px -272px; 
	width: 16px; 
	height: 16px;
}
.linkedIn32 {
	background-position: -96px -288px; 
	width: 32px; 
	height: 32px;
}
/* Added to fix the #10(Grand Canyon) - Ends Here  */   

/* Added to fix the #6975(Grand Canyon) - Starts Here  */ 
.tuenti16 {
    background-position: -16px -288px;
    width: 16px;
    height: 16px;
}

.tuenti32 {
    background-position: -128px -256px;
    width: 32px;
    height: 32px;
}
/* Added to fix the #6975(Grand Canyon) - Ends Here  */ 
 
.addthis_button_google_plusone:hover{
	opacity:0.8;
	filter:alpha(opacity=80);
}
   	 

/* slideshow */
.slideshow .contents {
	padding: 0;
}

.btnSlideshowPrev, .btnSlideshowNext {
	width: 64px;
	height: 64px;
	position: absolute;
}

.btnSlideshowPrev:hover {
	background-position: -160px -64px;
	cursor: pointer;
}

.btnSlideshowNext:hover {
	background-position: -288px -64px;
	cursor: pointer;
}


/* lightbox */
#lightBox, #lightBox * {
	box-sizing: content-box; -moz-box-sizing: content-box;
}

#dimTheLights {
	display: none;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 3;
}

#lightBox {
	z-index: 4;
	display: none;
	border-width: 1px;
	border-style: solid;
	padding: 10px;
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
	box-shadow: 5px 5px 10px #111; -moz-box-shadow: 5px 5px 10px #111; -webkit-box-shadow: 5px 5px 10px #111;
}

#lightBoxIMGWrap {
	display: block;
	clear: both;
	margin: 0 0 10px 0;
	z-index: 4;
}

#lightBoxCaption {
	margin: 0 0 5px 5px;
	float: left;
	z-index: 4;
}



#lightBoxLoading {
	z-index: 4;
	background: url('data:image/gif;base64,R0lGODlhMgAKAKIEAE1NTb+/v////+bm5v///wAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQFCgAEACwAAAAAMgAKAAADRSi63P4wukArVSPrjLfu3gB6imWNG/oJIce2pXm9oeq2Ik0K8ozbuZ8uxesBj8OVsBdACp+woswZhdakJurVupN4v+BFAgAh+QQFCgAEACwBAAEAEgAIAAADGgi6ShQwQsaclHTZOzPYnPc9XCCC10mGHiolACH5BAUKAAQALAEAAQAcAAgAAAMlGLpKBDBCx6oNTkp6e9YT0XkPCHBj9YFouqxa62IlK85vHd9WAgAh+QQFCgAEACwBAAEAJgAIAAADNzi6ShQwQgeqrU5KxrKexHV5H7eQGiVizxeYTfupK7rBdkSLOQQPvcBuJNP8gkNL8FiUJFmuQAIAIfkEBQoABAAsCwABACYACAAAAzc4ukoUMEIHqq1OSsaynsR1eR+3kBolYs8XmE37qSu6wXZEizkED73AbiTT/IJDS/BYlCRZrkACACH5BAUKAAQALBUAAQAcAAgAAAMsOLpKFDBCB6qtjDkp6bXZsnET8YHhMJLemaoPGbTfu3L0ZceseQI72cx3SgAAIfkEBQoABAAsHwABABIACAAAAxo4ukoUMELGnJR02Tvz2Jz3PVwggtdJhh4qJQAh+QQFCgAEACwpAAEACAAIAAADCDi63P4wypgAADs=') scroll center center no-repeat;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	display: none;
} 

#lightBoxBtnClose:before {
	background-position: -32px -96px;
	right: -16px;
	top: -16px;
}

#lightBoxBackward:hover:before {
	background-position: -32px -64px;
	left: 0;
	bottom: 0;
}

#lightBoxForward:before {
	background-position: -64px -64px;
	right: 0;
	bottom: 0;
}

#lightBoxForward, #lightBoxBackward{
	position: absolute;
	width: 50%;
	top: 10px;
	display: block;
	background: none;
	background: url('../../fw-editorial.corp.ybusa.net/template/css/images/blanke71e.gif?v=v4.17.2');
}

#lightBoxForward{
	right: 10px;
}

#lightBoxBackward{
	left: 10px;
}
   	 

/* gmaps */
input[type="text"].autosuggest{
	color:#aaaaaa;
}

.mapCanvas{
	width:100%;
	height:100%;
}

.textResults{
	width:98%;
	margin: 0 auto;
	clear: both;
}

.textResults > div{
	float:left;
	width:100%;
}

.directionsModule{
	overflow: hidden;
	display: none;
	width: 100%;
	float: left; 
}
   	 
.adp-legal{
	margin-bottom: 10px;
}

.contents .directionsAddressList {
	margin-bottom: 10px;
	float: left;
	width: 100%;
	list-style: decimal inside;
}
   	 
.mapCanvas h6 { 
	font-size: 16px;
	line-height: 16px;
	margin: 5px 0 10px 0; 
}

.mapCanvas p {
	font-size: 12px;
	line-height: 15px;
	margin: 0; 
}

/*Added new CSS*/

span.price {



}



#page .navigation a {

}



#page .navigation a:hover {

} 

span.price {


}


.link a { 

}



.link a:hover { 


}

table .border{
	border: groove;
	border-spacing: 3px;
	/*border-color: deepskyblue;*/
	border-width:0.2px;
}
table th,table td
{
	padding:5px;
}





